<header class="app-bar" data-role="appbar">
    <div class="container">
        <a class="app-bar-element branding">ApsNetCore</a>

        <ul class="app-bar-menu" data-flexorder="1">
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/about']">About</a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
    </div>
</header>
