@model AspNetCore.Data.Article

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<h2>Details</h2>

<div class="toolbar">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>

<div class="row">
    <dl class="horizontal">
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>&#160;@Html.DisplayFor(model => model.Title)</dd>

        <dt>@Html.DisplayNameFor(model => model.Text)</dt>
        <dd>&#160;@Html.DisplayFor(model => model.Text)</dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
